<div class="container-fluid body">
  <!-- <div style="height: 10vh;"></div> -->
  <div class="row pt-4">
    <!-- <div class="col-1"></div> -->
    <mat-card class="bg-white shadow-none col-12 border border-danger">
      <mat-card-title class="mt-3 mb-3" style="display: flex; align-items: center;">
        <mat-icon>how_to_reg</mat-icon> <span class="px-2"> Details about your new study </span>
      </mat-card-title>
      <div class="row">
        <mat-card-content class="col-12">
          <form [formGroup]="create_project_form" (submit)="createProject()">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Study Title</mat-label>
              <input matInput placeholder="MECP2 Duplication Syndrome study" formControlName="name">
              <mat-error *ngIf="create_project_form.controls.name.errors">Study title required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Few words about your study</mat-label>
              <textarea matInput placeholder="The aim is to ... " formControlName="description"></textarea>
              <mat-error *ngIf="create_project_form.controls.description.errors">Description required</mat-error>
            </mat-form-field>

            <!-- <h6> Please select the tools you need for the study </h6><br>
            <div class="d-flex justify-content-around">

              <mat-card (click)="onSelectCard('biomarker_selected')"
                [ngClass]="{'card-selected mat-elevation-z4': biomarker_selected} " class="tool-cards col-3">
                <span [matTooltip]="biomarker_selected ?  'inlcuded' : 'not included'" class="selection">
                  <mat-icon>check_circle</mat-icon>
                </span>
                <mat-card-header class="pt-0 d-flex justify-content-center">
                  <mat-card-title>Biomarker</mat-card-title>
                </mat-card-header>
                <mat-card-content class="tool-card-content">
                  <p>
                    Questionnaire tool to acquire data and discover a biomarker.
                  </p>
                </mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-actions class="d-flex justify-content-center">
                  <a> Learn more</a>
                </mat-card-actions>
              </mat-card>

              <mat-card (click)="onSelectCard('registry_selected')"
                [ngClass]="{'card-selected mat-elevation-z4': registry_selected} " class="tool-cards col-3">
                <span [matTooltip]="registry_selected ?  'inlcuded' : 'not included'" class="selection">
                  <mat-icon>check_circle</mat-icon>
                </span>
                <mat-card-header class="pt-0 d-flex justify-content-center">
                  <mat-card-title>Registry</mat-card-title>
                </mat-card-header>

                <mat-card-content class="tool-card-content">
                  <p>
                    Create forms to start recruiting subjects for your study.
                  </p>
                </mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-actions class="d-flex justify-content-center">
                  <a> Learn more</a>
                </mat-card-actions>
              </mat-card>

              <mat-card (click)="onSelectCard('aiMarrvel_selected')"
                [ngClass]="{'card-selected mat-elevation-z4': aiMarrvel_selected} " class="tool-cards col-3">
                <span [matTooltip]="aiMarrvel_selected ?  'inlcuded' : 'not included'" class="selection">
                  <mat-icon>check_circle</mat-icon>
                </span>
                <mat-card-header class="pt-0 d-flex justify-content-center">
                  <mat-card-title>aiMarrvel</mat-card-title>
                </mat-card-header>
                <mat-card-content class="tool-card-content">
                  <p>
                    upload vcf files to get variants ranked and prioritized.
                  </p>
                </mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-actions class="d-flex justify-content-center">
                  <a> Learn more</a>
                </mat-card-actions>
              </mat-card>

            </div> -->

            <br>
            <button mat-raised-button type="submit" color="primary" class="pull-right w-100">Submit</button>
          </form>
        </mat-card-content>

        <!-- <span class="col-6 row">
                <div class="col-2"></div>
                <mat-icon  class="col-8" style="font-size: 300px; color: rgb(0, 0, 0);">verified_user</mat-icon>
                <div class="col-2"></div>
            </span> -->
      </div>
    </mat-card>
    <!-- <div class="col-1"></div> -->
  </div>
</div>