
<div class="container-fluid body" style="background-color: #e5e8f0da; height:150vh; color:black">
    <div class="row title-div px-5 mx-2">
        <!-- <div class="col-1"></div> -->
        <div class="col-6">
            <div class="row d-flex justify-content-between">
                <h1 class="fw-light mt-5 d-flex justify-content-center title" ><b>Build your own pipeline</b></h1>
                <!-- <br><br> -->
                <p class="d-flex text-center mt-3" style="font-size:larger;">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.Incidunt eos iste aperiam, vitae,
                    voluptatem nisi? Rerum saepe magni quaerat rem quos omnis voluptatum! Rerum saepe magni quaerat rem quos omnis voluptatum!Rerum saepe magni quaerat rem quos omnis voluptatum!Rerum saepe magni quaerat rem quos omnis voluptatum!Rerum saepe magni quaerat rem quos omnis voluptatum!Rerum saepe magni quaerat rem quos omnis voluptatum!
                </p>
                <button routerLink="/register" mat-raised-button color="primary" class="text-lg font-set" style="background-color: black; color: rgb(22, 205, 186); font-size: larger;">Get started !</button>
                <!-- <hr class="mt-4 shadow"> -->
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-5">
            <div class="row"></div>
            <div class="row">
                <img src="./../../assets/some_medical.jpg" style="height: 95%; width: 95%; box-shadow: 0px 1px 3px black;"
                    class="mt-5 pt-3">
            </div>
        </div>

    </div>

    <br><br>
    <hr class="px-5 mx-5">
    <br><br>
    <div class="row mx-4">

        <div class="col-4 border-danger">
            <div class="row d-flex justify-content-between">
                <div class="col-3 d-flex flex-column"> <mat-icon svgIcon="hipaa" style="height: 140%; width: 140%;"></mat-icon></div>
                <div class="col-8 px-3">
                    <mat-card class="bg-transparent shadow-none font-set">
                    <mat-card-content>
                        We have been using this for longtime and we will keep using this,we have been using this for longtime.
                    </mat-card-content>
                </mat-card></div>
            </div>
        </div>

        <div class="col-4">
            <div class="row d-flex justify-content-between border-danger border-left" >
                <div class="col-3 d-flex flex-column"> <mat-icon svgIcon="hipaa" style="height: 140%; width: 140%;"></mat-icon></div>
                <div class="col-8 px-3">
                    <mat-card class="bg-transparent shadow-none font-set">
                    <mat-card-content>
                        We have been using this for longtime and we will keep using this,we have been using this for longtime.
                    </mat-card-content>
                </mat-card></div>
            </div>
        </div>

        <div class="col-4 border-danger">
            <div class="row d-flex justify-content-between">
                <div class="col-3 d-flex flex-column"> <mat-icon svgIcon="hipaa" style="height: 140%; width: 140%;"></mat-icon></div>
                <div class="col-8 px-3">
                    <mat-card class="bg-transparent shadow-none font-set">
                    <mat-card-content>
                        We have been using this for longtime and we will keep using this,we have been using this for longtime.
                    </mat-card-content>
                </mat-card></div>
            </div>
        </div>

       
    </div>

    <div class="row mx-4 d-flex justify-content-between">
        <h1 class="fw-light mt-5 d-flex justify-content-center title"><b>How it works</b></h1>

    </div>
</div>